img,
svg {
  color: maroon;
}

.form {
  margin: 0 auto;
}

.form li .uppercase {
  text-transform: uppercase;
}

.form-control {
  width: 60% !important;
  margin: 0 auto !important;
}

.display-keyboard-letters {
  display: grid;

  margin: 0 auto;
  width: 100%;
  max-width: 500px;
}

.display-keyboard-letters ul {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 2px;
  @media (max-width: 463px) {
    gap: 1px;
  }

  &.alphabeticallist {
    margin-bottom: 0.5rem;
  }
  &.special-keys {
    margin: 0;
  }
}

.display-keyboard-letters li {
  position: relative;
  display: inline-block;
  width: 2.5rem;
  width: var(--variable-width-1);
  height: var(--variable-width-1);
  border: 1px solid #fff;
  color: #fff;
  font-size: 1.5em;
  background-color: var(--color-grid);
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in 0.2s;
  &:hover {
    opacity: 0.8;
  }

  @media (max-width: 491px) {
    width: 43px;
    height: 43px;
    font-size: 1.2em;
  }
  @media (max-width: 474px) {
    width: 42px;
    height: 42px;
    font-size: 1.2em;
  }
  @media (max-width: 463px) {
    width: var(--variable-width-5);
    height: var(--variable-width-5);
    font-size: 1.2em;
  }
  @media (max-width: 431px) {
    width: var(--variable-width-8);
    height: var(--variable-width-8);
    font-size: 1.2em;
  }
  @media (max-width: 422px) {
    width: 36px;
    height: 36px;
    font-size: 1.3em;
  }
  @media (max-width: 376px) {
    width: 33px;
    height: 33px;
    font-size: 1.2em;
  }
  @media (max-width: 344px) {
    width: 31px;
    height: 31px;
    font-size: 1.2em;
  }
  @media (max-width: 338px) {
    width: 30px;
    height: 30px;
    font-size: 1.2em;
  }
  @media (max-width: 328px) {
    width: 29px;
    height: 29px;
    font-size: 1.2em;
  }
}

.display-keyboard-letters li:hover a {
  font-size: larger;
}

.display-keyboard-letters li.isActive {
  background-color: #222;
}
.display-keyboard-letters li.isGoodPlaced {
  background-color: #e7002a;
}
.display-keyboard-letters li.isBadPlaced {
  background-color: #ffbd00;
}

.display-keyboard-letters li.isBadPlaced.isGoodPlaced {
  background-image: linear-gradient(
    45deg,
    rgba(253, 29, 29, 1) 50%,
    rgba(255, 189, 0, 1) 50%
  );
}

.wordle .display-keyboard-letters li.isGoodPlaced {
  background-color: var(--color-good-place);
}
.wordle .display-keyboard-letters li.isBadPlaced {
  background-color: #d3952a;
}

.wordle .display-keyboard-letters li.isBadPlaced.isGoodPlaced {
  background-image: linear-gradient(
    45deg,
    rgba(62, 170, 66, 1) 50%,
    rgba(211, 149, 42, 1) 50%
  );
}

.display-keyboard-letters li a {
  text-decoration: none;
  color: #fff;
  display: block;
  width: 100%;
}

.display-keyboard-letters li.maj {
  width: 5rem;
  font-size: 1.5em;
}

.display-keyboard-letters li.backspace {
  width: 3rem;
}

.display-keyboard-letters li.special-keys {
  width: 6rem;
  font-size: 1.1em;
  line-height: 1.2rem;
  font-size: 1rem;
  @media (max-width: 500px) {
    line-height: 1rem;
    font-size: 0.9em;
    padding: 1rem 0.5rem;
    width: 7.5rem;
  }
  &.exclude {
    background-color: #0077c7;
  }
  &.reset {
    background-color: #ffeb86;
    a {
      color: #555;
    }
  }
}

.display-keyboard-letters li.special-keys a:hover {
  font-size: large;
}

.display-keyboard-letters li.validate {
  width: 50%;
  font-size: 1.1em;
  background-color: #fff;
  line-height: 40px;
  height: 40px;
  border: 2px solid #e7002a;
  margin: 0.5rem auto;
}

.display-keyboard-letters li.validate a {
  color: #e7002a;
}

.display-keyboard-letters li.validate:active {
  background-color: #e7002a;
  border: 2px solid #fff;
}

.display-keyboard-letters li.validate:active a {
  color: #fff;
}
.wordle .display-keyboard-letters li.validate {
  background-color: #fff;
  border: 2px solid #3eaa42;
}
.wordle .display-keyboard-letters li.validate a {
  color: #3eaa42;
}
.wordle .display-keyboard-letters li.validate:active {
  background-color: #3eaa42;
  border: 2px solid #fff;
}
.wordle .display-keyboard-letters li.validate:active a {
  color: #fff;
}
.display-keyboard-letters li.excludeActive {
  background-color: #0077c7;
  opacity: 1;
}
.wordle .display-keyboard-letters li.excludeActive {
  background-color: #3a3a3c;
}
.display-keyboard-letters li.notinword,
.wordle .display-keyboard-letters li.notinword {
  opacity: 0.7;
}

.display-keyboard-letters li.notinword a:before {
  content: "X";
  color: red;
  font-size: 2rem;
  position: absolute;
  left: 8px;
  top: -4px;
  opacity: 0.6;
}

.display-control-letter {
  display: none;
  position: absolute;
  top: -4rem;
  left: 0.5rem;
  width: 2.5rem;
  border: 1px solid #fff;
  color: #555;
  font-size: 1.5em;
  background-color: #fff;
  border: 1px solid #555;
  border-radius: 0.3rem;
  z-index: 1;
}
.isActive .display-control-letter {
  display: block;
}

/**/
.display-keyboard-letters li.notplaces {
  background-color: #e7002a;
  background-color: #555;
}
.display-keyboard-letters li.goodplaces {
  background-color: #ffbd00;
}
