/*!
*   _____       _             __                 _____                               ______ _       _   _
*  |_   _|     | |           / _|               |_   _|                             |  ____| |     | | (_)
*    | |  _ __ | |_ ___ _ __| |_ __ _  ___ ___    | |  ___ ___  _ __  ___   ______  | |__  | | __ _| |_ _  ___ ___  _ __
*    | | | '_ \| __/ _ \ '__|  _/ _` |/ __/ _ \   | | / __/ _ \| '_ \/ __| |______| |  __| | |/ _` | __| |/ __/ _ \| '_ \
*   _| |_| | | | ||  __/ |  | || (_| | (_|  __/  _| || (_| (_) | | | \__ \          | |    | | (_| | |_| | (_| (_) | | | |
*  |_____|_| |_|\__\___|_|  |_| \__,_|\___\___| |_____\___\___/|_| |_|___/          |_|    |_|\__,_|\__|_|\___\___/|_| |_|
*
*                         UIcons 4.0.0 - https://www.flaticon.com/uicons/interface-icons
*/
@font-face {
  font-family: "uicons-solid-chubby";
  src: url("../webfonts/uicons-solid-chubby.woff2") format("woff2"),
    url("../webfonts/uicons-solid-chubby.woff") format("woff"),
    url("../webfonts/uicons-solid-chubby.eot#iefix") format("embedded-opentype");
  font-display: swap;
}

i[class^="fi-sc-"]:before,
i[class*=" fi-sc-"]:before,
span[class^="fi-sc-"]:before,
span[class*="fi-sc-"]:before {
  font-family: uicons-solid-chubby !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fi-sc-up-right-from-square:before {
  content: "\f4e8";
}
