.header-top {
  z-index: 0;
  top: 0;
  background: #fff;
  width: 100%;
  position: static;
}

h1,
.h1 {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  -moz-box-shadow: 0 2px 5px #ddd;
  -webkit-box-shadow: 0 2px 5px #ddd;
  box-shadow: 0 2px 5px #ddd;
  text-shadow: 0px 2px 4px #000;
  color: #fff;
  font-size: 1.5rem !important;
  font-family: "Arista 2.0";
  width: 100%;
}

h1 > span {
  display: inline-block;
  width: 2rem;
  border: 1px solid #fff;
  background-color: #0077c7;
}
.sound-element {
  position: fixed;
  top: 26px;
  right: 3%;
  z-index: 2;
  display: block;
}
.sound-element img {
  width: 36px;
}

.intro {
  margin-top: 6.5rem;
}

.intro p {
  padding: 0 0.8rem;
  margin: 0;
  white-space: inherit;
}

.intro ul {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-self: center;
}

.intro ul li {
  margin-bottom: 0.3rem;
  justify-content: space-around;
}
:is(.change-color, .with-color-transition) {
  list-style-type: circle;
}

.change-color li.first::marker {
  color: rgb(255, 0, 0);
}
.change-color li.second::marker {
  color: rgb(210, 188, 62);
}
.change-color li.third::marker {
  color: #0077c7;
}
.change-color li.fourth::marker {
  color: #0077c7;
}
.change-color li.fifth::marker {
  color: rgb(255, 0, 0);
}
.change-color li.sixth::marker {
  color: #277d32;
}

.intro a {
  display: inline-block;
  padding: 0;
  color: white;
  border-radius: 4px;

  font-weight: bold;
  margin-top: 0.1rem;
  &.anchor {
    color: inherit;
    font-weight: normal;
    padding: inherit;
    margin-top: inherit;
    color: black;
    font-weight: bold;
    padding: 0;
    margin-top: 0;
  }
}

.intro a.sutom-color {
  color: white;
  background-color: #0077c7;
}
.intro a.tuzmo-color {
  color: white;
  background-color: #0a5566;
}
.intro a.wordle-color {
  color: white;
  background-color: #277d32;
}

.intro span.tile {
  display: inline-block;
  padding: 0.1rem 0.5rem;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 0.1rem;
}

span.search-button {
  display: inline-block;
  padding: 0.3rem 0.5rem;
  color: crimson;
  padding: 0.5rem 1rem;
  border: 1px solid crimson;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
}

span.select-game {
  display: inline-block;
  padding: 0.3rem 0.5rem;
  background-color: #4caf50;
  color: #fff;
  padding: 0.5rem 1rem;
  border: 1px solid #4caf50;
  border-radius: 4px;
  text-decoration: none;
  font-weight: normal;
  &.active {
    background-color: #2e7d32;
    color: white;
    font-weight: bold;
  }
}

.font-smaller {
  font-size: 0.9rem;
}

details.details-infos {
  /* The marker */
  padding-left: 3rem;
  summary {
    cursor: pointer;
    list-style: none;
  }

  summary::marker {
    content: "\23F5";
    font-size: 1rem;
  }

  /* The marker when <details> is open */
  &[open] summary::marker {
    content: "\23F6";
  }

  /* Because ::marker doesn’t support many properties */
  summary span {
    display: inline-block;
    border-radius: 25px 25px 25px 0;
    font-size: 0.9rem;
  }
}
